<div class="d-flex justify-content-between head-page">
  <%= link_to "Create new post", new_post_path, class: "btn btn-outline-primary" %>
  <%= search_form_for @q do |f| %>
    <%= f.search_field :title_or_content_cont , class: "form-control", placeholder: "Type for search" %>
  <% end %>
</div>
<div class="show-all-post">
  <% if @posts.any? %>
    <% @posts.each do |post| %>
      <div class="card post-single mt-3">
        <div class="row g-0">
          <div class="col-md-4">
            <div class="post-cover">
              <%= image_tag(post.cover_photo_link, width: "100%", class: "img-fluid rounded-start") if post.cover_photo_link.present? %>
            </div>
          </div>
          <div class="col-md-8 post-content">
            <div class="card-body">
              <h3 class="card-text post-title">
                <%= post.title %>
              </h3>
              <p><strong>Created at:</strong> <%= post.created_at.strftime("%d/%m/%Y") %></p>
              <p><strong>Creator:</strong> <%= post.user.email %></p>
              <a href="<%= post_path(post) %>" type="button" class="btn btn-outline-info">Xem chi tiết</a>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  <% else %>
    <h3 class="text-center mt-5">No post for search !</h3>
  <% end %>
</div>

