<div class="post-show">
  <div class="post-info d-flex justify-content-between" style="gap: 20px;">
    <div class="d-flex" style="gap: 20px;">
      <p><strong>Created at:</strong> <%= @post.created_at.strftime("%d/%m/%Y") %></p>
      <p><strong>Creator:</strong> <%= @post.user.email %></p>
    </div>
    <div class="post-action">
      <a href="<%= edit_post_path(@post) %>" class="btn btn-outline-secondary btn-sm">Edit</a>
      <%= link_to "Delete", post_path(@post), method: :delete, data: {
        turbo_method: :delete,
        turbo_confirm: "Are you sure delete this post?"
      }, class: "btn btn-outline-danger btn-sm" %>
    </div>
  </div>
  <div class="title">
    <h1>
      <%= @post.title %>
    </h1>
  </div>
  <div class="content">
    <%= raw @post.content %>
  </div>
</div>
